 #Menu{
    padding: 5px 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(18, 18, 53);
    

    
   
  }


  .nav-cadastro:hover{
    background-color: blue;
  }
  .nav-cadastro{
    padding: 10px 8px;
    width: 50px;
    color:white;
    background-color: darkblue;
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: background-color, .5s;
    font-size: 2vw;
    text-decoration: none;

  }
  .nav-bar{
    margin-bottom: 10px;
    padding-top: 10px;
  }
  
  .nav-list{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: end;
    user-select: none;
    
  }
  .nav-options{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 3vw;
    

  }
  .nav-menu{
    display: inline-block;
    margin: 5px 10px;
  }

  .logo{
    text-align: start;
    width: auto;
    margin: 10px;
  }
  .logo-trampro{
    width: 15vw;

  }
.Footer{
    background-color:rgb(18, 18, 53);
    width: 100%;
    padding: 5px 0;
    
    text-align: center;
  }
  .rodape{
    text-align: center;
   
    font-weight: bold;
  }
  .rodape-bio{
    text-decoration: none;
    font-size:2vh;
    color: white;
  }

  .redes{
    margin: 100px 100px;
    
  }
  .redes-lista{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 40px;
  }
  .pagina-link{
    
    margin: 20px 0px;


  }
  .redes-link{
    text-decoration: none;
  }
    
.Conteudo-imagem{
    width: 100%;
    vertical-align: middle;

    
  }
.redes-logo{
  width:  3vh;
  margin: 0px 5px;
  
}
@media (max-width: 630px){

  .Conteudo-imagem{
    padding-top: 100px;

  }
  .footer{
    padding: 0;
  }

 

}

@media (max-width: 460px){

  .Conteudo-imagem{
    padding-top: 80px;
  }
  .nav-bar{
    max-width: 70%;
    margin: 0 auto;
  }
  .nav-list{
    text-align: center;

  }
  .nav-menu{
    margin: 5px 2px;
  }

  .footer{
  padding: 0px;
}
   .pagina-link{
  padding: 0px 5px;
  margin: 0px;

}  .redes-logo{
  width: 2vh;
}
   .rodape-bio{
  font-size: 1.5vh;
 }
}
@media (max-width: 200px){

  .Conteudo-imagem{
    display: none;
  }
  .nav-bar{
    max-width: 60%;
    margin: 0 auto;
  }
  .nav-list{
    text-align: center;

  }


}