#Conteudo{
    width: 100%;
    background-color:  gainsboro;
    padding: 50px;
    margin-top: 100px;
}
.container{
    display:inline-block;
  }

.carrosel{
    display:inline-block;
    width: 700px;
    height: 400px;
    overflow: hidden;
    
    
    
  }
  .carrosel ul{
    display: flex;
    list-style: none;
    width: 2100px;
    height: 400px;
  }
  .carrosel li{
    position: relative;
    animation: slide 15s infinite ease-out;
    z-index: 1;
  }

  @keyframes slide{
    0%{left: 0px;}
    20%{left: 0px;}
  
    30%{left: -700px;}
    50%{left: -700px;}
    60%{left: -1400px;}
    90%{left: -1400px;}
    100%{left:0px;}
  }
  .img-1{
    animation: alternative-1 15s infinite;
  }
  .img-2{
    animation: alternative-2 15s infinite;
  }
  .img-3{
    animation: alternative-3 15s infinite;
  }
  @keyframes alternative-1{
    0%{left: 0px;}
    20%{left: 0px;}
  
    30%{left: -700px;
      position:relative;}
    50%{left: -700px;
      position:relative;}
    60%{left: -1400px;
      position:relative;}
    90%{left: -1400px;
      position:relative;}
    100%{}
  }
  @keyframes alternative-2{
    0%{left: 0px;
      position: relative;}
    20%{left: 0px;
      position: relative;}
  
    30%{left: -700px;}
    50%{left: -700px;}
    60%{left: -1400px;
      position:relative;}
    90%{left: -1400px;
      position:relative;}
    100%{position: relative;}
  }
  @keyframes alternative-3{
    0%{left: 0px;
      position: relative;}
    20%{left: 0px;
      position: relative;}
  
    30%{left: -700px;
      position: relative;}
    50%{left: -700px;
      position:relative;}
    60%{left: -1400px;}
    90%{left: -1400px;}
    100%{left: 0px;
      position: relative;}
  }
 

  .subtitle{
    font-size: 50px;
    color: #062439;
    font-style:arial;
    text-align: center;
    
    
  }
  .apresentacao{
    text-align: end;
  }

.servicos{
  display: flexbox;
  padding-top: 50px;
}

  .servico{
    flex-direction: row;
    display: inline-block;
  }
.user-name{
  display: block;
  text-align: center;
  color: aliceblue;
  font-family:Arial;
  font-size:x-large;
  background-color: #062439;
  width: 168px;
  height: 8;
}
.text-1{
    display:inline-flex;
  text-align:start;
 font-size: 45px;
  color: #062439;
  font-style:arial;
 margin-left: 30px;
  margin-top: 30px;
}
.text-2{
    
      font-size: 40px;
      color: #062439;
      margin-left: 30px;
      text-align: center;
      
  }                