 #Menu{
    padding: 5px 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(18, 18, 53);
    

    
   
  }


  .nav-cadastro:hover{
    background-color: blue;
  }
  .nav-cadastro{
    padding: 10px 8px;
    width: 50px;
    color:white;
    background-color: darkblue;
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: background-color, .5s;
    font-size: 2vw;
    text-decoration: none;

  }
  .nav-bar{
    margin-bottom: 10px;
    padding-top: 10px;
  }
  
  .nav-list{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: end;
    cursor: pointer;
    user-select: none;
    
  }
  .nav-options{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 2vw;
    

  }
  .nav-menu{
    display: inline-block;
    margin: 5px;
  }

  .logo{
    text-align: start;
    width: 20%;
    margin: 10px;
  }
.Footer{
    background-color:rgb(18, 18, 53);
    width: 100%;
    padding: 10px 0;
    
    text-align: center;
  }
  .rodape{
    text-align: center;
   
    font-weight: bold;
  }
  .rodape-bio{
    text-decoration: none;
    font-size: 3vw;
    color: white;
  }

  .redes{
    margin: 10px 10px;
    
  }
  .redes-lista{
    list-style: none;
    text-align: center;
  }
  .pagina-link{
    display: inline-block;
    margin: 20px;


  }
  .redes-link{
    text-decoration: none;
  }
    
.Conteudo-imagem{
    width: 100%;
    vertical-align: middle;

    
  }
